.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #343434;
  padding: 0 2%;
}
.logo {
  width: 100px;
  height: 100px;
}
.navigation {
  flex-direction: row;
  justify-content: space-between;
}

.navigation > link {
  text-align: center;
  font-size: large;
}

.link {
  display: inline-block;
}
.link a {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-size: 18px;
  margin: 20px 10px 20px 10px;
}

.link a:hover {
  color: #ffc745;
}
